* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    z-index: -4;
    font-family: Roboto sans-serif;
}


.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.section-1 {
    width: 100%;
    height: 100vh;
    padding: 30px 20px;
    background-color: #8CACBA;
    position: relative;
    z-index: -3;
    overflow: hidden;
    margin-bottom: 50px;
}

header {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

header a {
    font-size: 25px;
    text-decoration: none;
    color: #1A3F62;
    font-weight: 600;
    margin-right: 20px;
    z-index: 4;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

header button {
    width: 100px;
    height: 30px;
    align-items: center;
    background-color: rgba(12, 44, 54, 0.72);;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    font-size: large;
    z-index: 4;
}

.section-1-girl {
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 750px;
}

.img-me {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.section-2-img-me {
    position: absolute;
    right: -75px;
    bottom: -125px;
}

.section-1-small-circle {
    position: absolute;
    width: 372px;
    height: 265px;
    top: -87px;
    left: -97px;
    border-radius: 50%;
    background: rgba(54, 105, 134, 0.42);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.content-small-circle {
    position: absolute;
    left: 97px;
    top: 87px;
}

.img-infinity-sign {
    top: 0;
}

.section-1-small-circle b {
    position: absolute;
    color: rgba(5, 74, 104, 1);
    font-size: 40px;
    top: 50px;
    right: -140px;
    letter-spacing: 0.2px;
}

.section-1-big-circle {
    position: absolute;
    z-index: -1;
    width: 1230px;
    height: 1165px;
    top: -103px;
    left: -488px;
    border-radius: 50%;
    background-color: rgba(54, 105, 134, 0.25);

}

h1 {
    color: rgba(26, 63, 98, 1);
    font-size: 65px;

}

.content-big-circle {
    position: absolute;
    top: 340px;
    right: 80px;
}

.big-circle-text {
    width: 500px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: start;
    font-weight: 600;
    margin-bottom: 18px;
}

.section-1-big-circle button {
    width: 185px;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    font-size: 20px;
    background-color: rgba(12, 44, 54, 0.72);
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.section-2 {
    position: relative;
    margin: 0 126px 160px 170px;
    color: #555;
    font-size: 24px;
    line-height: 35px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    position: relative;
    margin-bottom: 100px;
    text-align: center;
}

h2::after {
    content: '';
    height: 2px;
    width: 65px;
    position: absolute;
    background-color: #0E7481;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}

h3 {
    padding-right: 30px;
    font-size: 30px;
    font-weight: 400;
    background-color: #fff;
    position: relative;
}


.section-2-content {
    margin-left: 50px;
}

.section-2 .name-and-line {
    position: relative;

}

.section-2 .name-and-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0E7481;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.section-2-content img {
    flex-grow: 1;
}

.section-2-content span {
    font-size: 24px;
}

.section-2-part-2 .section-2-content {
    margin-right: 40px;
    margin-left: 0;
}

.section-2-part-1 {
    margin-bottom: 88px;
}

.section-2-part-2 {
    margin-bottom: 133px;
}

.section-2-part-3 {
    margin-bottom: 158px;
}

.section-3 {
    position: relative;
    z-index: -1;
    background-color: #8CACBA;
    padding: 57px 25px;
}

.section-3 h2 {
    color: #555;
    font-size: 30px;

}

.section-3 .name-section h3 {
    background-color: inherit;
}

.section-3-all-feedbacks {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 230px;
}

.feedback {
    position: relative;
    z-index: 2;
    width: 442px;
    height: 265px;
    border-radius: 8px;
    background: rgba(8, 49, 58, 0.5);
    margin-bottom: 70px;
    padding: 34px 30px 100px;
    color: #FFF;
    font-size: 12px;
    flex-direction: column;
}

.photo-and-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.description {
    color: #FFF;
    font-size: 12px;
    line-height: 22px;
}

.feedback span {
    font-size: 16px;
    margin-left: 10px;
}

.stars {
    position: absolute;
    right: 16px;
    bottom: 18px;
}

.section-4 {
    height: 640px;
}

.all-hands {
    position: relative;
    overflow: visible;

}

.hand-left-top {
    position: absolute;
    top: -134px;
}

.hand-right-top {
    position: absolute;
    right: 0;
}

.hand-left-btn {
    position: absolute;
    top: 400px;
    left: 0;
}

.hand-right-btn {
    position: absolute;
    top: calc(260px - 38px);
    right: 8px;
    transform: rotate(2.872deg);
}

footer {
    padding: 0 84px 97px;
    background-color: rgba(83, 83, 83, 0.33);
    position: relative;
}

.subscribe-to-get-updated {
    margin: 0 auto;
    max-width: 1060px;
    height: inherit;
    padding: 27px 13px;
    display: flex;
    background-color: #054A68;
    border-radius: 20px;
    position: relative;
    transform: translateY(-50%);
    align-items: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    justify-content: space-between;
}

.subscribe-to-get-updated-text {
    display: flex;
    flex-direction: column;
}

.subscribe-to-get-updated-text .small {
    margin-top: 8px;
    margin-right: 42px;
    font-size: 14px;
    font-weight: 400;
}
.error{
    height: 100%;
    width: 100%;
border: 1px  solid #a42727 ;
    border-radius: inherit;
}
#name-error, #password-error, #nameSignUp-error, #email-error, #passwordSignUP-error{
    position: absolute;
    border: none;
    justify-content: end;
}

label {

    display: inline-flex;
    height: 50px;
    width: 400px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #DFDFDF;


}

input {
    border: none;
    outline: none;
    background-color: inherit;
    color: #FFFFFF;
}

input::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

.subscribe-to-get-updated button {
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DFDFDF;
}

.mitt-arv {
    position: relative;
    max-width: 306px;
}

.mitt-arv b {
    position: absolute;
    color: rgba(5, 74, 104, 1);
    font-size: 40px;
    letter-spacing: 0.2px;
    top: 50px;
    right: 70px;
}

.mitt-arv p {
    color: #535353;
    font-size: 14px;
    text-align: left;
    margin-bottom: 24px;
}

.icons a {
    margin-right: 16px;
}

h4 {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 600;
}

.content-footer a {
    text-decoration: none;
}

.content-footer p {
    color: #535353;
    font-size: 14px;

}

.content-footer button {
    color: #535353;
    border: none;
    display: inline-flex;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 10px;
    background-color: inherit;
}

.content-footer button:focus {
    color: #FFFFFF;
    background-color: #054A68;
}

.services {
    margin-bottom: 22px;
}

@media screen and (max-width: 1140px) {
    .section-1-girl {
        height: 650px;
    }

    .content-big-circle {
        right: 150px;
    }

    .section-2 {
        margin: 0 50px 160px;
    }

    .section-2-img-me {
        right: -25px;
    }

    .section-3-all-feedbacks {
        margin-bottom: 200px;
    }

    .subscribe-to-get-updated {
        left: 40px;
    }
}

@media screen and (max-width: 720px) {
    .section-1 button {
        width: 200px;
        height: 45px
    }

    .section-1-small-circle {
        width: 300px;
        height: 210px;
    }

    .big-circle-text {
        font-size: 15px;
        width: 400px;
        margin-bottom: 40px;
    }

    h1 {
        font-size: 40px;
    }

    .content-big-circle {
        top: 320px;
        right: 310px;

    }

    .content-small-circle {
        display: none;
    }

    .section-1-girl {
        height: 600px;
        z-index: -2;
        right: -130px;
    }

    .section-2-part-1 {
        flex-wrap: wrap;
        justify-content: center;
        line-height: 25px;

    }

    .section-2 h2 {
        font-size: 24px;
    }

    .section-2-part-2 {
        flex-wrap: wrap;
        justify-content: center;
        line-height: 25px;
        margin-bottom: 88px;

    }

    .section-2-part-2 .section-2-img {
        order: 1;
    }

    .section-2-part-2 .section-2-content {
        order: 2;
        margin-left: 50px;
    }

    .section-2-content h2 {
        font-size: 19px;
    }

    .section-2 span {
        font-size: 16px;
    }

    .section-2-part-3 {
        flex-wrap: wrap;
        justify-content: center;
        line-height: 25px;

    }

    .section-3 {
        padding-top: 50px;
    }

    .section-3-all-feedbacks {
        margin-bottom: 100px;
    }

    .section-4 {
        display: none;
    }

    .subscribe-to-get-updated {
        left: 0;
        top: -129px;
        height: auto;
        border-radius: 0;
    }

    footer {
        height: 100%;
        bottom: -129px;
    }

    .subscribe-to-get-updated-text {
        font-size: 16px;
        font-weight: 400;
    }

    .subscribe-to-get-updated-text small {
        font-size: 14px;
    }

    label {
        height: 70px;
        margin-right: 30px;
    }

    .content-footer {
        flex-direction: column;
        align-items: center;
    }

    .icons {
        justify-content: space-around;
    }

    .mitt-arv {

    }
}

@media screen and (max-width: 540px) {
    .section-2 {
        margin: 0 0 160px;
    }

    .section-1 h1 {
        font-size: 33px;
    }

    .big-circle-text {
        width: 200px;
        margin-bottom: 30px;
    }

    .content-big-circle {
        top: 300px;
        right: 500px;
    }

    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-1 button {
        width: 100%;
        height: 70px;
        margin-top: 20px;
    }

    .section-1-girl {
        opacity: 0.5;
        height: 562px;
        right: -170px;
    }

    .section-2-img-me {
        right: 10px;
        bottom: 125px;
    }

    .section-2-content {
        margin-left: 40px
    }

    .section-2-part-2 .section-2-content {
        margin-right: 0;
        margin-left: 50px
    }

    .subscribe-to-get-updated {
        flex-wrap: wrap;
    }

    .subscribe-to-get-updated-text {
        margin-bottom: 20px;
    }
}


#myBtn {
    width: 100px;
    height: 30px;
    align-items: center;
    background-color: rgba(12, 44, 54, 0.72);;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    font-size: large;
    z-index: 4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
.form-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close{
    position: absolute;
    bottom: 100%;
    left: 100%;

}
.modal-content {
    position: relative;
    background-color: rgba(140, 172, 186);
    margin:  auto;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
#myForm, #myFormSignUp{
    position: relative;
}
input:invalid{
    border:1px solid rgba(255, 0, 8, 0.29);
}
.modal-body{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.error{
    padding: 0;
    margin-right: 0;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color:#FFFFFF;
    color: white;
}


.modal-footer {
    padding: 2px 16px;
    color: white;
}

/*preloader*/
.preloader{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.preloader-show{
    display: flex;

}
.lds-spinner {
    color: white;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*preloader*/